*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  background: url('./assets/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}